@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&display=swap');
@font-face {
    font-family: visitor;
    src: url(visitor/visitor1.ttf);
  }
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela', sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    /*min-height: 50vh;*/
}
.outside-margin{
    border: 8px solid #fff;
    
}
.box{
    position: relative;
    border: 10px solid #000;
    width: 900px;
    height: 600px;
    background-color: #FEBDB1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.outside-margin .box label {
    position: relative;
    width: 100%;
    height: 33.333%;
    border: 2px solid #222220;
    border-bottom: none;
}
.outside-margin .box label input{
    position: relative;
   appearance: none;
   z-index: 10;
}
.outside-margin .box label i{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100%;
}
.outside-margin .box label:nth-child(1) i{
    background-image: url(01.png);
    background-size: cover;
    background-repeat: no-repeat;
    animation: animate 0.8s steps(9) infinite;
    animation-direction: normal;
}
.outside-margin .box label:nth-child(2) i{
    background-image: url(02.png);
    background-size: cover;
    background-repeat: no-repeat;
    animation: animate 0.7s steps(9) infinite;
    animation-direction: reverse;

}
.outside-margin .box label:nth-child(3) i{
    background-image: url(03.png);
    background-size: cover;
    background-repeat: no-repeat;
    animation: animate 0.6s steps(9) infinite;
    animation-direction: normal;
}
@keyframes animate {
    0%{
        background-position: 0px;
    }
    100%{
        background-position: 100%;
    }
}
.outside-margin .box label input:checked ~ i{
    animation-play-state: paused;
    
}

.bottom-container{
    margin-top: 30px;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
  
}
/*.button{
    border: 8px solid #fff;
    height: 100px;
    width: 900px;
    background-color: #B7EDFA;
}*/
.button {
    width: 900px;
    display: flex;
    justify-content: center;
    height: 100px;
    background: #B7EDFA;
    position: relative;
    border: 5px solid #000;  
   
  }
  .button:after {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: #fff;
    z-index: -1;
  }
  
/*.button::after{
    content: " ";
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
    border: 5px solid #000;
}*/
.reset{
    background-color: transparent;
    font-size: 5em;
    color: black;
    
    border: none;
    text-shadow: 0 1px 1px #000;
    font-family: 'visitor';
}